html,
body,
#root {
  width: 100%;
  height: 100%;
}

.app{
  font-family: sans-serif;
  text-align: center;
  box-sizing: border-box;
}


.columns {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.assignee-box{
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  min-width: 200px;
  min-height: 100px;
}

.loading{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.task-list {
  list-style: none;
  padding: 0;
  text-align: center;
}

.task-item.completed {
  text-decoration: line-through;
  color: gray;
}